.profile-block {
	height: 400px;
	background: #F5F5F5;
	box-shadow: 2px 2px 4px #ccc;
}

.status-block {
	height: 250px;
	background: #f5f5f5;
	box-shadow: 2px 2px 4px #ccc;
}

.status-overview-block {
	height: 1000px;
	background: #f5f5f5;
	box-shadow: 2px 2px 4px #ccc;
	margin-top: 25px;
	margin-bottom: 25px;
}

.online-friends-block {
	height: 450px;
	top: 0;
	background: #f5f5f5;
	box-shadow: 2px 2px 4px #ccc;
}

.friend-requests-block {
	height: 350px;
	background: #f5f5f5;
	box-shadow: 2px 2px 4px #ccc;
	margin-top: 25px;
}

/* | Authentication | */
.auth-body {
	background: #00b09b;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.auth-card {
	margin-top: 10vh;
	border-radius: 0px;
}

.auth-btn {
	width: 100%;
	border-radius: 0px;
}

.alert.register-error {
	padding-top: 15px;
	padding-bottom: 0px;
}

.error-close-btn {
	margin-top: 5px;
}

.error-close-btn:hover {
	cursor: pointer;
}